<ion-header>
  <ion-toolbar>
    <ion-title>
      Mobile Application Development
    </ion-title>
    <ion-buttons slot="end">
      <ion-button routerLink="/settings">
        <ion-icon name="settings"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-title>Welcome to My App!</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p>Your student number: G00438854</p>
      <p>Selected Temperature Unit: {{ selectedUnit === 'metric' ? 'Metric (°C)' : 'Imperial (°F)' }}</p>
    </ion-card-content>
  </ion-card>
</ion-content>
